.footer-box {
    background: #ccc;
    padding: 20px 0;
}

.footer-box .footer-company-name {

    text-align: center;
    margin: 0px;
    color: #333;
    font-size: 13px;
    font-weight: 400;
    padding-top: 2px;

}

.footer-box .footer-company-name a {
    color: #333;
    text-decoration: underline !important;
}

.footer-box .footer-company-name a:hover {
    color: #e91327;
}
